* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-size: min(calc(1em + 1vw), 4em); */
  --white: #ffffff;
  --grey: #dfe4e5;
  --light-green: #d4e9db;
  --green: #46aa64;
  --dark-green: #2A633B;
  --button-green: #8AC59F;
  --blue: #0a3250;
  --dark-blue: #062026;
  --black: #111111;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  color: var(--blue);
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 20vw;
  color: var(--blue);
  border-right: 2px solid black;
}

header p{
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-top: 2em;
  margin-left: 2.5em;
}

header img{
  width: 8em;
  margin: 0.5em 4em;
}


nav ul {
    list-style: none;
    margin-top: 3em;
    margin-left: 4em;
    width: 20vw;
    height: 100vh;
}

nav a {
    display: block;
    align-self: flex-start;
    margin-right: 1em;
    color: var(--blue);
    padding-bottom: 1.5em;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3em;
    transition: font-size 0.4s ease;
}

nav a:hover{
  text-decoration: underline;
  color: var(--dark-blue);
  font-size: 1.4em;
}


section {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 25rem;
  width: min(100%, 55rem);
  background: var(--white);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

h1{
  font-size: 2.5em;
  margin-bottom: 1em;
}

h3 {
  border-bottom: var(--green) 1px solid;
  margin-bottom: 2rem;
  font-size: 1.5em;
  padding: 0.2rem;
}

p{
  padding-left: 0.3rem;
}

h4{
  padding-left: 0.2rem;
}

pre {
  padding-left: 0.2rem;
  background: DarkSlateGray;
  color: white;
}


.hallen-logo img{
  height: 8em;
  width: 15em;
  margin-bottom: 1.5em;
  align-items: center;
}

.hallen-logo ul{
  margin-left:2em;
  margin-bottom: 1em;
}

.kleur-main{
  width: 55em;
  margin: 0.5em 0;
  border: 2px solid var(--black);
}

.hallen-kleur ul{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  list-style-type: none;
  justify-content: space-between;
}

.hallen-kleur li{
  font-size: 1.1em;
  justify-content: space-between;
}

.groen-blauw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groen, .blauw {
  width: 25em;
  height: 3em;
  margin: 0.5em 1em;
 
  border: none;
}

.hallen-typo img{
  padding: 0.5em 3em;
}

.hallen-icon img {
  width: 29em;
  margin-bottom: 0.5em;
}

.down-icons{
  height: 3em;
  padding: 1em 3em 0.5em 3em;
}

.primary{
  background-color: var(--blue);
  color: var(--white);
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.primary:hover{
  background-color: var(--dark-blue);
}

.secondary{
  background-color: var(--green);
  color: var(--white);
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.secondary:hover{
  background-color: var(--dark-green);
}

.tertiary{
  background-color: var(--button-green);
  color: var(--white);
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.tertiary:hover{
  background-color: var(--green);
}

.hallen-button li{
  margin-bottom: 0.5em;
  list-style-type: none;
}

