* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-size: min(calc(1em + 1vw), 4em); */
  --white: #ffffff;
  --grey: #dfe4e5;
  --light-green: #d4e9db;
  --green: #46aa64;
  --dark-green: #2A633B;
  --button-green: #8AC59F;
  --blue: #0a3250;
  --dark-blue: #062026;
  --black: #111111;

  --transition: 0.4s ease;
}

@font-face {
  font-family: "AvantGarde-Bold";
  src: local("Avant Garde Bold"), local("AvantGarde-Bold"),
    url("./font/AvantGarde-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "AvantGarde-Med";
  src: local("Avant Garde Medium"), local("AvantGarde-Med"),
    url("./font/AvantGarde-Med.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "AvantGarde-light";
  src: local("Avant Garde Light"), local("AvantGarde-Light"),
    url("./font/AvantGarde-Light.ttf");
  font-weight: 500;
}




html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  color: var(--blue);
}


/*  */
/*  */
/* HEADER */
/*  */
/*  */

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 20vw;
  color: var(--blue);
  border-right: 3px solid var(--light-green);
}

header p{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

header img{
  width: 8rem;
  margin: 0.5rem 4rem;
}


/*  */
/*  */
/* NAV */
/*  */
/*  */

nav ul {
    list-style: none;
    margin-top: 3rem;
    margin-left: 4rem;
    width: 20vw;
    height: 100vh;
}

nav a {
    display: block;
    align-self: flex-start;
    margin-right: 1.1rem;
    color: var(--blue);
    padding-bottom: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: font-size 0.4s ease;
}

nav a:hover{
  text-decoration: underline;
  color: var(--dark-blue);
  font-size: 1.3rem;
}


/*  */
/*  */
/* GENERAL */
/*  */
/*  */

section {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 25rem;
  width: min(100%, 55rem);
  background: var(--white);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

h1, h2, h3, h4, h5, h6, th{
  font-family: 'AvantGarde-Bold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  border-bottom: var(--light-green) 2px solid;
  margin-bottom: 2rem;
  padding: 0.2rem;
}

p, a, li, td{
  font-family: 'AvantGarde-Med', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

p{
  padding-left: 0.3rem;
}

h4{
  padding-left: 0.2rem;
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

pre {
  margin: 0.5rem;
  background: var(--grey);
  color: var(--blue);
}


/*  */
/*  */
/* HALLEN-LOGO */
/*  */
/*  */

.hallen-logo img{
  height: 8rem;
  width: 15rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.hallen-logo ul{
  margin-left:2rem;
  margin-bottom: 1rem;
}


/*  */
/*  */
/* HALLEN-KLEUR */
/*  */
/*  */

.hallen-kleur h4{
  margin: 0.5rem 0;
}
.kleur-main{
  width: 55rem;
  margin: 0.5rem 0;
  border: 2px solid var(--black);
}

.hallen-kleur ul{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  list-style-type: none;
  justify-content: space-between;
}

.hallen-kleur li{
  font-size: 1.1rem;
  justify-content: space-between;
  color: var(--green);
}

.groen-blauw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groen, .blauw {
  width: 25rem;
  height: 3rem;
  margin: 1rem;
  border: none;
}


/*  */
/*  */
/* HALLEN-TYPO */
/*  */
/*  */

.hallen-typo p{
  font-size: 1rem;
}

.bold{
  font-family: 'AvantGarde-Bold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0.5rem;
}

.regular{
  font-family: 'AvantGarde-Med', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0.5rem;
}

.light{
  font-family: 'AvantGarde-light', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0.5rem;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin: 1rem;
}

td, th{
  border: 1px solid var(--grey);
  padding: 0.6rem;
  text-align: left;
  width: 30%;
}

th {
  background-color: var(--light-green);
  font-weight: bold;
}


/*  */
/*  */
/* HALLEN-ICON */
/*  */
/*  */

.hallen-icon img {
  width: 35rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.hallen-icon p{
  margin-bottom: 0.5rem;
}

.hallen-icon a {
  color: var(--green);
  text-decoration: none;
}

.hallen-icon a:hover {
  color: var(--dark-green);
  text-decoration: underline;
  font-size: 1.1rem;
}

.fa-instagram, .fa-facebook-f {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--blue);
  transition: var(--transition);
}

.fa-instagram:hover, .fa-facebook-f:hover {
  color: var(--green);
}

.fa-calendar, .fa-clock {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  color: var(--green);
  transition: var(--transition);
}

.fa-calendar:hover, .fa-clock:hover{
  color: var(--dark-green);
}


/*  */
/*  */
/* HALLEN-BUTTON */
/*  */
/*  */

.primary{
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  transition: var(--transition);
}

.primary:hover{
  background-color: var(--dark-blue);
  font-size: 1.1rem;
}

.secondary{
  background-color: var(--green);
  color: var(--white);
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  transition: var(--transition);
}

.secondary:hover{
  background-color: var(--dark-green);
  font-size: 1.1rem;
}

.tertiary{
  background-color: var(--button-green);
  color: var(--white);
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  transition: var(--transition);
}

.tertiary:hover{
  background-color: var(--green);
  font-size: 1.1rem;
}

.hallen-button table{
  margin: 1.5rem;
}


/*  */
/*  */
/* HALLEN-NAV */
/*  */
/* */

.fa-bars {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  color: var(--green);
  transition: var(--transition);
}

.fa-bars:hover {
  color: var(--dark-green);
}

.hallen-nav a {
  color: var(--green);
  text-decoration: none;
  transition: var(--transition);
}

.hallen-nav a:hover {
  color: var(--dark-green);
  text-decoration: underline;
  font-size: 1.1rem;
}